#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

#photograph-name{
    font-size: 55px;
    color: #C24700;
}
#photograph-city{
    font-size: 24px;
    color: #901C1C;
}

#picture{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}
#medias{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
#medias li{
    text-align: center;
    list-style: none;
    flex: 0 0 33.333333%;
    padding-bottom: 40px;
}
#medias img, #medias video{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding-left: 100px;
}
.card-wrapper{
    color: #901C1C;    
}
.card-wrapper h2{
    margin-top: 0;
    font-weight: 300;
    font-size: 31px;
}
#likes{
    margin-top: 5px;
    font-size: 22px;
}
.fa-heart{
    margin-left: 5px;
}


#likesPrice{
    position: -webkit-sticky; /* Safari */  
    position: sticky;
    bottom: 0;
    width: 300px;
    height: 50px;
    background-color: #e08c74;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 85%;
}
#likesPrice span{
    padding: 0 20px;
    font-size: 18px;
}



.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.377);
  }

#contact_modal{
    position: absolute;
    top: 10%;
    width: 100%;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 31px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 5px;
}
form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
}

.errorDiv{
    margin-bottom: 0;
    color: rgb(255, 217, 0);
    font-weight: 600;
    text-shadow: 2px 2px 3px rgba(101, 103, 114, 0.575);
}

#filters {
    display: flex;   
}

.filter-box{
    display: flex;
    flex-direction: column;
    margin: auto 0;
}


.lightbox{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.637);
}
.lightbox-container{
    position: absolute;
    margin-top: 60px;
    width: 90%;
    height: 80%;
    background: #fff;
}
.lightbox-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
}
.closeLightbox{
    position: absolute;
    right: 1%;
    top: 1%;
    z-index: 2;
    cursor: pointer;
    filter: invert(93%) sepia(95%) saturate(4601%) hue-rotate(353deg) brightness(91%) contrast(124%);
}
.photo-wrapper{
    height: 100%;
}
.photoLightbox{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#left{
    font-size: 80px;
    position: absolute;
    top: 40%;
    left: 1%;
    cursor: pointer;
    color: #901C1C;
    font-weight: 600;
}
#right{
    font-size: 80px;
    position: absolute;
    right: 1%;
    top: 40%;
    cursor: pointer;
    font-weight: 600;
    color: #901C1C;
}

.videoDOM{
   pointer-events: none;
}